html, body {
  font-size: 16px;
  font-family: "Microsoft YaHei", Arial;
  height: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
}

ol, ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

#contextmenu {
  display: none;
  position: absolute;
  border: 1px solid #000000;
  width: 100px;
  z-index: 100;
  background-color: #FFFFFF;
}

#contextmenu > p {
  line-height: 25px;
  font-weight: bold;
  cursor: pointer;
}

#contextmenu > p:hover, header {
  background-color: #F3FBD1;
  color: #FFFFFF;
}

header {
  height: 60px;
}

nav {
  box-sizing: border-box;
  border: 1px solid #000000;
  height: 20px;
}

nav > ul {
  margin-left: 400px;
}

nav li {
  float: left;
  width: 120px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

.options {
  overflow: hidden;
  display: none;
  position: relative;
  z-index: 999;
}

.show {
  display: block;
}

.options p {
  border: 1px solid #000000;
  border-top: 0;
  background-color: #FFFFFF;
  line-height: 30px;
}

#sideBar {
  position: absolute;
  top: 80px;
  bottom: 0;
  z-index: 99;
  top: 82px;
  left: 0;
  width: 300px;
  background-color: #F3FBD1;
  font-size: 14px;
}

.chooseBar {
  margin: 10px auto;
  width: 280px;
}

.chooseBar > ul > li {
  display: inline-block;
  border: 1px solid #000000;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-bottom: -1px;
  width: 50px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}

.chooseBar > ul > li.currentChoose {
  position: relative;
  z-index: 9;
  border-bottom-color: #F3FBD1;
}

.chooseBar > div {
  display: none;
}

.chooseBar > div.currentChoose {
  display: block;
}

.chooseBar > div {
  border: 1px solid #000000;
  width: 280px;
  height: 200px;
}

#essential {
  overflow: auto;
}

#essential li {
  margin: 5px;
  font-size: 14px;
}

#essential p {
  padding-left: 36px;
  font-size: 12px;
}

#attributes {
  overflow: auto;
  padding-left: 5px;
}

#attributes li > p {
  font-size: 16px;
}

#thumbnail {
  position: relative;
  z-index: 1;
}

#thumbnail > img {
  position: absolute;
  top: 0;
  left: 0;
}

.theme {
  display: inline-block;
  border: 5px solid;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.theme.default {
  border-color: #000000;
  background-color: #F3FBD1;
  color: #000000;
}

.theme.wolf {
  border-color: #FFFFFF;
  background-color: #8C8282;
  color: #FFFFFF;
}

.theme.lion {
  border-color: #F7F01B;
  background-color: #8B1010;
  color: #F7F01B;
}

.theme.crow {
  border-color: #1EF64E;
  background-color: #000000;
  color: #1EF64E;
}

#taskBar {
  position: absolute;
  top: 80px;
  bottom: 0;
  z-index: 99;
  left: 300px;
  right: 0;
  background-color: #F3FBD1;
  border-color: #000000;
  opacity: .5;
}

.task {
  box-sizing: border-box;
  position: absolute;
  border-radius: 5px;
  border: 3px solid;
  line-height: 34px;
  text-align: center;
  word-wrap: break-word;
}

.focusTask {
  outline: none;
  border-color: #23B0F7;
  color: #23B0F7;
}

#tmindCanvas {
  position: absolute;
  top: 80px;
  bottom: 0;
  z-index: 99;
  left: 300px;
  z-index: 9;
}

.alertWindow {
  border: 1px solid #000000;
  background-color: #FFFFFF;
  color: #000000;
  font-family: 'Microsoft YaHei';
}

.alertWindowTitle {
  font-size: 24px;
  line-height: 30px;
  text-indent: 16px;
}

.alertWindowContent {
  padding: 16px;
  font-size: 16px;
}

.alertWindowShader {
  position: absolute;
  z-index: 1000;
}

.alertWindowBtn {
  display: inline-block;
  margin-right: 16px;
  width: 60px;
  height: 30px;
  line-height: 30px;
  background-color: #F3FBD1;
  text-align: center;
  cursor: pointer;
}
